In [1]:
import pandas as pd

method 1: Specify Full path to the file

In [2]:
stats = pd.read_csv(r'C:\Users\Suyash Tambe\Downloads\EDA vs code\DemographicData.csv (1).csv')

In [3]:
stats

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

Changing work directory

In [4]:
import os

In [6]:
print(os.getcwd)

<built-in function getcwd>

In [7]:
len(stats)

195

In [9]:
stats.columns

Index(['Country Name', 'Country Code', 'Birth rate', 'Internet users',
       'Income Group'],
      dtype='object')

In [11]:
len(stats.columns)

5