In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame({'team':['A', 'A', 'B', 'B', 'B', 'B', 'C', 'C'],
                   'points':[25,12,15,14,19,23,25,29]})


print(df)

  team  points
0    A      25
1    A      12
2    B      15
3    B      14
4    B      19
5    B      23
6    C      25
7    C      29

#creating instance of one-hot-encoder

#perform one-hot encoding on 'team' column

In [ ]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(handle_unknown='ignore')

encoder_df = pd.DataFrame(encoder.fit_transform(df[['team']]).toarray())

final_df = df.join(encoder_df)
print(final_df)

  team  points    0    1    2
0    A      25  1.0  0.0  0.0
1    A      12  1.0  0.0  0.0
2    B      15  0.0  1.0  0.0
3    B      14  0.0  1.0  0.0
4    B      19  0.0  1.0  0.0
5    B      23  0.0  1.0  0.0
6    C      25  0.0  0.0  1.0
7    C      29  0.0  0.0  1.0

In [ ]:
final_df.drop('team', axis=1, inplace=True)
print(final_df)

   points    0    1    2
0      25  1.0  0.0  0.0
1      12  1.0  0.0  0.0
2      15  0.0  1.0  0.0
3      14  0.0  1.0  0.0
4      19  0.0  1.0  0.0
5      23  0.0  1.0  0.0
6      25  0.0  0.0  1.0
7      29  0.0  0.0  1.0

create a dataframe with columns as "Gender","Age","Degree",
create 10 datavalues in this data set
apply one-hot encoding on the column
1 gender
2 degree

In [ ]:
df = pd.DataFrame({'Gender':['M', 'M', 'F', 'M', 'F', 'F', 'F', 'M'],
                   'Age':[25,12,15,14,19,23,25,29], 'Degree':['Btech', 'Mtech', 'BSC', 'Btech', 'BBA', 'Mtech', 'Btech', 'MBA']})

print(df)

  Gender  Age Degree
0      M   25  Btech
1      M   12  Mtech
2      F   15    BSC
3      M   14  Btech
4      F   19    BBA
5      F   23  Mtech
6      F   25  Btech
7      M   29    MBA

In [ ]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(handle_unknown='ignore')

encoder_df = pd.DataFrame(encoder.fit_transform(df[['Gender']]).toarray())

final_df = df.join(encoder_df)
print(final_df)

  Gender  Age Degree    0    1
0      M   25  Btech  0.0  1.0
1      M   12  Mtech  0.0  1.0
2      F   15    BSC  1.0  0.0
3      M   14  Btech  0.0  1.0
4      F   19    BBA  1.0  0.0
5      F   23  Mtech  1.0  0.0
6      F   25  Btech  1.0  0.0
7      M   29    MBA  0.0  1.0

In [ ]:
final_df.drop('Gender', axis=1, inplace=True)
print(final_df)

   Age Degree    0    1
0   25  Btech  0.0  1.0
1   12  Mtech  0.0  1.0
2   15    BSC  1.0  0.0
3   14  Btech  0.0  1.0
4   19    BBA  1.0  0.0
5   23  Mtech  1.0  0.0
6   25  Btech  1.0  0.0
7   29    MBA  0.0  1.0